.l-group {
  @include micro-clearfix;
}

.group {
  @include micro-clearfix;
  margin: 0 auto;
  max-width: 1200px;
}

.bottom-section {
  @include query(400px) {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.score-container {
  background-color: $light-coral;
  font-weight: $font-weight-bold;
  padding: 1rem;

  p {
    margin: 0 0 1rem 0;
  }
}